/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***Global Styles***/

/* Color
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc
*/



body, html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eee;
}

a {
  font-weight: 700;
  color: #23a4cc;
  text-decoration: none;

}

p{
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1{
  /*font-family: 'Sansita', sans-serif;*/
  font-size: 1.33em;
  line-height: 1.6;
}

h2{
  font-size: 1em;

}

h3{
  font-size: 1em;
}


.btn {
  background-color: #ff1256;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.5em;
  text-align: center;
  box-shadow: 2px 2px 0px #DADADA;
  height: 2.5em;
  width:100%;
  display: block;
}

    .btn:hover {
      background-color: #b21e49;
    }

img {
  width: 100%;
  height: auto;
}


.sidebar-upcoming .btn{
  background-color: #b21e49;
}

.sidebar-faq .btn {
  background-color: #b21e49;
}

input.btn{
    background-color: #ff1256;
}
    input.btn:hover{
        background-color: #b21e49;
    }/*WHAT DO THESE INPUTS DO?****/

/*****HEADER*******/
.main-header {
  width: 100%;
  padding-right: 0;
}

#logo{
  width: 60%;
  padding-bottom: 0;
  clear: both;
}

nav {
  width: cover;
  margin-right: -2%;
  background-color: #dddddd;
  text-align: center;

}

nav ul {
  display: inline;
  text-align: center;
}

      nav ul li a {
        font-size: 1.125em;
        text-transform: uppercase;
        color: #333;
      }


/*****MAIN*******/
main {
  width: 96%;
  background-color: #eeeeee;
  padding: 0 2%;
}

/* HOME PAGE & REVIEWS PAGE **********/

/* Featured News Item =========================== */

.hero-area {
  padding: 0 2%;

}

.top-img {
  width: 100%;
  height: auto;
}

.top-story {
  width: 100%;
  /*padding: 0, 2%;*/
}




/*****ASIDE*******/

.sidebar {
  width: 100%;
  padding-bottom: 5%;
}

.sidebar-upcoming, .sidebar-faq {
  display: none;
  padding: 0 2%;
}

#text-field {
  margin-bottom: 3%;
}

.newsletter {
  width: 100%;
}

.newsletter .btn {
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
}

/*****FEED*******/


.feed {
  width: 100%;
  border-top: 1px solid #bfbfbf;
  padding-top: 2%;
}

/*Don't show on mobile*/
    .feed p {
      display: none;
      padding: 0 2%;
    }

    .feed h2 {
      margin-top: 1%;
    }

.feed-item {
  clear: both;
  width: 100%;
}

    .feed-type {
      text-transform: uppercase;
      font-size: 0.85em;
      margin-left: 2%;
    }

    .feed-item h3 a {
      color: #222;
    }

    .feed-item h3 a:hover {
      color:#23a4cc
    }

.feed-img {
  width: 40%;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid #bfbfbf;
}


.feed-info {
  float: left;
  width: 43%;
  margin-left: 3%;
  padding-right: 0;
}


.feed-border {
  border-bottom: 1px solid #bfbfbf;
}

.clearfix {
  overflow: auto;
}

/****DETAILED PAGES***/
.reviews-img, .news-img {
  width: 100%;
}



/*****FOOTER*******/
footer {
  width: 100%;
  margin: auto;
  clear:both;
}

#footer-logo {
  width: 47.5%;
  margin: auto;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

 @media screen and (min-width: 768px) {
   /*Tablet styles here*/

/****HEADER****/
  .main-header {
    width: 100%;
    max-width: 940px;
    color: #ddd;
    margin-left:4%;
  }

  #logo {
    width: 40%;
    float: left;
    margin-left: 2%;
  }

  nav {
    width: 100%;
    padding-right: 10%;
    /*margin-top: 3%;*/
  }

  nav li {
      display: inline;
      margin-right: 2%;
    }


/***FEATURED NEWS ITEM***/

   .top-story{
     width: 100%;
   }

   .top-img {
     width: 57%;
     float: right;
     padding-right: 3%;
   }

   .top-info {
     width: 40%;
     float: right;
   }

   header h1 {
     font-weight:900;
   }

   .top-info p {
     font-weight: 100;
   }


/****SIDEBAR****/

  .sidebar {
    clear: both;
    width: 40%;
    float: right;
    border-top: 1px solid #bfbfbf;
  }

  /*.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }*/

  .sidebar h2 {
    font-size: 1.25em;
  }

  .sidebar p {
    font-size: 1em;
  }

  .sidebar-upcoming,
  .sidebar-faq {
    display: block;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 6%;
  }

    .sidebar-faq, .sidebar-upcoming h2, p, a {
      width: 100% !important;
    }

    .newsletter {
      /*border-bottom: 1px solid #bfbfbf;*/
      padding-left: 2%;
      padding-bottom: 6%;
      border-bottom: 1px solid #bfbfbf;
    }

/****FEED****/

  .feed {
    width: 57%;
    float: left;
    padding-left: 2%;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
  }

      .feed h2 {
        padding-left: 0;
      }
  .feed-img {
    width: 35%;
    float: left;
    margin-left: 0;
  }

  .feed-info{
    width: 57%;
    float: left;
    margin-right: 2%;
    margin-left: 1%;
  }

  .feed-item {

  }

  .feed-type {
    margin-left: 0;
  }

/*****DETAILS PAGES******/

  .reviews-img, .news-img {
    width: 50%;
    margin: 0px;
    float; left;
  }

  .detail-title {
    width: 50%;
    float: right;
  }

  aside.detail {
    width: 100%;
  }

    .detail .newsletter h2{
      display: inline;
    }

    .detail .newsletter input {
      display: inline;
  }


/*****FOOTER*****/

  footer {
    width: 100%;
    clear: both;
    padding-top: 10%;
  }

  #footer-logo {
    width: 30%;
    margin: auto;

  }

}


/*******DESKTOP******/


@media screen and (min-width: 940px){
  /*Desktop styles here*/


  main-header {
    width: 100%;
  }

  nav {
    width: 1400px;
    min-width: 940px;
    background-color: #dddddd;
  }

  nav ul {
    padding-right: 2%;
  }

  nav ul li {
    padding-right: 2%;
    font-size: 0.875em;
  }


  main {
    width: 96%;
    padding: 0 2%;
  }

  #logo {
    clear: both;
  }

  /*.hero-area {
    width: 100%;
    clear: both;
  }*/

  .top-story {
    width: 50%;
    clear: both;
    padding-right: 0;
  }

  .hero-area {
    border: 1px solid black;
    overflow: auto;
    width: 96%;
  }

  .top-img {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid black;
  }

  .top-img img {
    max-width: 620px;
  }

  .top-info {
    width: 100%;
    border: 1px solid black;
  }

  header h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    border: 1px solid black;
  }

/*****SIDEBAR****/

  .sidebar {
    width: 40%;
    padding: 0, 1%;
    float: right;
    border-top: 1px solid #eee; /*Made border same color as background color to hide*/
    margin-right: 1%;
    margin-left: 0;
    clear: both;
    border: 1px solid black;
  }

  #text-field {
    size: 80px;
  }

  .newsletter {
    width: 100%;
    padding: 0 1%;
  }

  .signup { /*newsletter signup*/
    width: 100%;
    padding: 0 0;
  }

  .signup-form {
    width: 98%;
  }

  .sidebar-upcoming {
    width: 30%;
    padding: 0 1%;
  }

  .upcoming-btn {
    width: 100%;
  }

  .sidebar-faq {
    width: 30%;
    padding: 0 1%;
  }

/***FEED****/

  .feed {
    width: 100%;
    border-right: 1px solid #eee;/*Made same color as background color to hide*/
    margin-left: 0%;
  }

  /*.feed-type {
    width: 12%; /*needed?
  }*/

  .feed-image {
    width: 16.67%;
    margin-right: 0%;
  }

  .feed-item {
    width: 100%;
  }

  .signup-btn {
    width: 100%;
    padding: 0, 0;
  }

  .sidebar-upcoming{
    width: 30%;
    padding: 0, 1%;
  }

  .sidebar-faq {
    width: 30%;
    padding: 0, 1%;
  }

  .feed-info h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .feed p {
    display: block;
  }

  .feed-info h3  {
    margin-left: 0;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
