/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***Global Styles***/

/* Color
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc
*/



body, html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eee;
}

a {
  font-weight: 700;
  color: #23a4cc;
  text-decoration: none;
}

p{
  font-size: 1em;
  line-height: 1.4;
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1{
  /*font-family: 'Sansita', sans-serif;*/
  font-size: 1.4em;
  line-height: 1.6em;
}

h2{
  font-size: 1em;

}

h3{
  font-size: 1em;
}


.btn {
  background-color: #ff1256;
  border: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  box-shadow: 2px 2px 0px #DADADA;
  height: 2.5em;
  width: 100%;
  display: block;
}

    .btn:hover {
      background-color: #b21e49; <!-See if these colors are inverted-->
    }

.sidebar-upcoming .btn{
  background-color: #b21e49;
}

.sidebar-faq .btn {
  background-color: #b21e49;
}

input.btn{
    background-color: #ff1256;
}
    input.btn:hover{
        background-color: #b21e49;
    }/*WHAT DO THESE INPUTS DO?****/

/*.no-border {
  border: none;
} In solution code, but not sure what it does*/

/*****HEADER*******/
.main-header {
  width: 100%;
}


.logo-img {
  width: 100%;
  height: auto;
  margin-top: -10px;
  margin-bottom: -13px;
}/* Needed for responsiveness*/



nav {
  width: 100%; /*Use instead of "cover"-*/
  background-color: #ddd;
  margin-top:0;
  padding-top:0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
    text-align: center;
    padding: 15px 0; /*The padding creates the height*/
    font-weight: 900 !important;
}

      nav ul li a {
        font-size: 1.125em;
        text-transform: uppercase;
        color: #333;

      }

      nav ul li a:hover {
        color: #FF1256;
      }

nav i {
  padding-right: 10px;
}

/*****MAIN CONTENT*******/

main {
  width: 96%;
  background-color: #eeeeee;
  padding: 0 2%;
  margin: auto;
  max-width: 960px;
}

/****FAQ Page***/
 .faq p {
   font-weight: light !important;
 }

 .faq-p {
   font-weight: lighter !important;
 } /**Not working*/


/* HOME PAGE & REVIEWS PAGE **********/

/* Featured News Item =========================== */

.top-story {
  width: 100%;
}

.top-img {
  width: 100%;
  height: auto;
  margin: 0;
}

.top-info h1 {
  font-weight: 900;
  font-size: 2em;
  line-height: 1.2em;
}

/*****ASIDE*******/

.sidebar {
  width: 100%;
}

.newsletter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.newsletter h2 {
  font-size: 1.2em;
}

      .newsletter input {
        width: 100%;
        box-sizing: border-box;
      } /*Changes width of text field and btn*/

      .newsletter input[type="text"]{
        margin-bottom: 10px;
        padding: 5px 0;
      }

.sidebar-upcoming, .sidebar-faq {
  display: none;
}

.sidebar-faq i {
  padding-right: 10px;
}

.detail .newsletter {
  border-bottom: none; /*What does this do*/
}


/*****FEED-NEWS/REVIEWS SECTION*******/


.feed {
  width: 100%;
}

.feed h2 {
  font-size: 1.2em;
}


/*Don't show on mobile*/
    .feed p {
      display: none;
    }

.feed-item {
  clear: both;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

    .feed-type {
      text-transform: uppercase;
      font-size: 0.8em;
      padding-top: 2%;
    }

    .feed-item h3 {
      margin: 0;
    }

    .feed-item h3 a {
      color: #222;
    }

        .feed-item h3 a:hover {
          color: #23a4cc;
        }

          /*.feed-item:nth-child(7){
            border-bottom: none;
          }----Don't think I need*/

  .feed-info {
    float: left;
    width: 42%;
    padding-top: 12px;
    font-size: 1.0em;
  }

  .feed-img {
    width: 40%;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    border: 2px solid #bfbfbf;
  }/* Matching to sample code really screws up*/

.feed-border {
  border-bottom: 1px solid #bfbfbf;

}

.clearfix {
  overflow: auto;
}

/****DETAILED PAGES***/
.reviews-img, .news-img {
  width: 100%;
  margin: 0;
}

/****ABOUT PAGE****/
.map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mission {
  margin-top: 2%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.team {
  margin-bottom: 35%;
  border-bottom: 1px solid #ccc;
}

.team-member{
  padding: 15px 0 25px 0;

}

.team-img {
  width: 40%;
  padding-bottom: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.team-name {

}

.team-title {

}

.team-description {
  display: none;
}


/*.team:nth-last-child(1){
  margin-bottom: 40%;
}Figure out how to do*/



#team-img-jack {
  background-image: url('/Users/Morgan/Desktop/unplugged/img/jack-smith.jpg');
}

#team-img-lana {
  background-image: url('/Users/Morgan/Desktop/unplugged/img/lana-walters.jpg');
}

#team-img-willow {
  background-image: url('/Users/Morgan/Desktop/unplugged/img/willow-white.jpg');
}


/***CONCERTS PAGE****/
.main-header {
  clear: both;
}

.concert-list {
  width: 100%;
}

.concert-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.clearfix {
  overflow: auto;
}

.concert-date-box  {
  float: left;
  border: 2px solid #ccc;
  padding-right: 0;
  margin: 0;
  width: 16.67%;
  text-align: center;
  margin-right: 0;
}

.concert-date-box h1 {
  font-weight: bold;
  line-height: .2em;
}

.concert-details {
  padding-left: 0;
  padding-right: 18%;
  padding-bottom: 3%;
  float: right;
  margin: 1%;
  width: 60%;
  padding-left: 0;
}

.concert-details h2 {
  font-size: 1.2em;
  font-weight: 900 !important;
  margin-top: 0;
}

.concert-details h2, p {
  padding: 0;
  /*line-height: .3em;*//*NEED TO FIGURE OUT HOW JUST TO APPLY TO CONCERT DETAILS-WAS MESSING WITH MAIN PAGE TOO*/
}

.concert-details i {
  display: none;
}

.concerts-btn {
  background-color: #b21e49;
}

#concerts-newsletter {
  display: none;
}


/*****FOOTER*******/
footer {
  width: 100%;
  margin: auto;
  clear:both;
  margin-top: 50%;
}

#footer-logo {
  width: 47.5%;
  margin: auto;
  margin-top: 20px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

 @media screen and (min-width: 768px) {
   /*Tablet styles here*/

/****HEADER****/
  .main-header {
    width: 94%;
    max-width: 960px;
    margin: auto;
    background-color: #ddd;
    padding: 0 3%;
    clear: both;
  }

  /*.logo-img {
    width: 40%;
    height: auto;
    float: left;
    clear: both;
  }/*Added for responsiveness*/

  nav {
    width: 100%;
    float: right;
    display: inline;
    clear: none;

  }

  .logo-img {
    width: 40%;
    float: left;
    margin-right: 0;
    padding-right: 0;
    clear: none;
    margin-top: -5%;
  }



  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
      display: inline;
      margin-right: 2%;
      float: right;
      padding-left: 0%;
      top: 16px;/*What does this do*/
    }
 /*Need to figure out the floats for the nav bar*/

/***FEATURED NEWS ITEM***/

   .top-story{
     width: 100%;
   }

   .top-img {
     width: 57%;
     float: left;
     padding-right: 1%;
     padding-bottom: 2%;
     margin-top: 3%;
   }

   .top-info {
     width: 39%;
     float: left;
     margin-left: 3%;
   }

   .top-info h1 {
     font-size: 1.7em;
   }

   .top-info p {
     font-weight: 100;
   }


/****SIDEBAR****/

  .sidebar {
    clear: both;
    width: 40%;
    float: right;
    border-top: 1px solid #bfbfbf;
    padding-left: 0;
  }

  /*.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }*/

  .sidebar h2 {
    font-size: 1.25em;
  }

  .sidebar p {
    font-size: 1em;
  }

  .sidebar i {
    display: none;
  }

  .sidebar-upcoming,
  .sidebar-faq {
    display: block;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 6%;
    padding-left: 2%;
    margin-right: 3%;
  }

    .sidebar-faq, .sidebar-upcoming h2, p, a {
      width: 99% !important;
    }

    .newsletter {
      /*border-bottom: 1px solid #bfbfbf;*/
      padding-left: 2%;
      padding-bottom: 6%;
      border-bottom: 1px solid #bfbfbf;
    }

/****FEED****/

  .feed {
    width: 57%;
    float: left;
    padding-left: 2%;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
  }

      .feed h2 {
        padding-left: 0;
      }
  .feed-img {
    width: 35%;
    float: left;
    margin-left: 0;
  }

  .feed-info{
    width: 57%;
    float: left;
    margin-right: 2%;
    margin-left: 1%;
  }

  .feed-item {

  }

  .feed-type {
    margin-left: 0;
  }

/*****DETAILS PAGES******/

  .reviews-img, .news-img {
    width: 50%;
    margin: 0px;
    float; left;
  }

  .detail-title {
    width: 50%;
    float: right;
  }

  aside.detail {
    width: 100%;
  }

    .detail .newsletter h2{
      display: inline;
    }

    .detail .newsletter input {
      display: inline;
  }

  /****ABOUT PAGE****/
  .map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }/*Map doesn't work on tablet or desktop*/

  .mission {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
    clear: both;
    border-bottom: 1px solid #ccc;
  }

  .mission h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .mission p {
    font-size: 1.25em;

  }

  .team {
    padding-left: 2%;
  }

  .team-member{
    font-weight:normal;
  }

  .team-img {
    width: 20%;
    padding-bottom: 20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
  }

  .team-name {
    font-size: 1.3em;
    margin-top: 0;
    padding-left: 30%;
    font-weight: 900;
  }

  .team-title {
    padding-left: 30%;
  }

  .team-description {
    display:none;
  }


  #team-img-jack {
    background-image: url('/Users/Morgan/Desktop/unplugged/img/jack-smith.jpg');
  }

  #team-img-lana {
    background-image: url('/Users/Morgan/Desktop/unplugged/img/lana-walters.jpg');
  }

  #team-img-willow {
    background-image: url('/Users/Morgan/Desktop/unplugged/img/willow-white.jpg');
  }


/****CONCERTS PAGE*****/

.concert-heading {
  clear: both;
  padding-top: 2%;
}

.concert-list {
  text-align: left;
  margin-top: 3%;
  margin-bottom: 50%;
}

.row {
  width: 100%;
  border-right: 1px solid #ccc;
}

.col-md-4 {
  width: 48%;
  float: left;
  padding-left: 0;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-right: 0;
}

.concert-list:nth-child(1){
  margin-bottom: 20%;
}

.sidebar-concerts {
  float: right;
  width: 30%;
}

.concerts-btn {
  width: 100%;
}

#concerts-newsletter {
  display: none;
}

/*****FOOTER*****/

  footer {
    width: 100%;
    clear: both;
    margin-top: 0;
  }

  #footer-logo {
    width: 30%;
    margin: auto;
    padding-top: 15%;
  }

}


/*******DESKTOP******/


@media screen and (min-width: 940px){
  /*Desktop styles here*/


  main-header {
    width: 100%;
  }

  nav {
    min-width: 940px;
    background-color: #dddddd;
  }

  nav ul {
    padding-right: 2%;
  }

  nav ul li {
    padding-right: 2%;
    font-size: 0.875em;
  }


  main {
    width: 96%;
    padding: 0 2%;
  }

  #logo {
    clear: both;
  }

  /*.hero-area {
    width: 100%;
    clear: both;
  }*/

  .top-story {
    width: 50%;
    clear: both;
    padding-right: 0;
  }

  .hero-area {
    border: 1px solid black;
    overflow: auto;
    width: 96%;
  }

  .top-img {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid black;
  }

  .top-img img {
    max-width: 620px;
  }

  .top-info {
    width: 100%;
    border: 1px solid black;
  }

  header h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    border: 1px solid black;
  }

/*****SIDEBAR****/

  .sidebar {
    width: 40%;
    padding: 0, 1%;
    float: right;
    border-top: 1px solid #eee; /*Made border same color as background color to hide*/
    margin-right: 1%;
    margin-left: 0;
    clear: both;
    border: 1px solid black;
  }

  #text-field {
    size: 80px;
  }

  .newsletter {
    width: 100%;
    padding: 0 1%;
  }

  .signup { /*newsletter signup*/
    width: 100%;
    padding: 0 0;
  }

  .signup-form {
    width: 98%;
  }

  .sidebar-upcoming {
    width: 30%;
    padding: 0 1%;
  }

  .upcoming-btn {
    width: 100%;
  }

  .sidebar-faq {
    width: 30%;
    padding: 0 1%;
  }

/***FEED****/

  .feed {
    width: 100%;
    border-right: 1px solid #eee;/*Made same color as background color to hide*/
    margin-left: 0%;
  }

  /*.feed-type {
    width: 12%; /*needed?
  }*/

  .feed-image {
    width: 16.67%;
    margin-right: 0%;
  }

  .feed-item {
    width: 100%;
  }

  .signup-btn {
    width: 100%;
    padding: 0, 0;
  }

  .sidebar-upcoming{
    width: 30%;
    padding: 0, 1%;
  }

  .sidebar-faq {
    width: 30%;
    padding: 0, 1%;
  }

  .feed-info h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .feed p {
    display: block;
  }

  .feed-info h3  {
    margin-left: 0;
  }

/***ABOUT PAGE****/

  .mission {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    clear: both;
    border-bottom: 1px solid #ccc;
  }

  .mission h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .mission p {
    font-size: 1.25em;
    overflow:auto;
    clear:both;
    width: 50%;

  }

  .team {
    padding-left: 2%;
  }

  .team-member{
    font-weight: normal;
    width: 100%;
  }

  .team-img {
    width: 20%;
    padding-bottom: 20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
  }

  .team-name {
    font-size: 1.3em;
    margin-top: 0;
    padding-left: 30%;
    font-weight: 900;
    border: 1px solid black;
  }

  .team-title {
    padding-left: 30%;
    border: 1px solid black;
  }

  .team-description {
    display: inline-block;
    width: 60%;
    clear: both;
    border: 1px solid black;
    padding-left: 30%;
  }


  #team-img-jack {
    background-image: url('/Users/Morgan/Desktop/unplugged/img/jack-smith.jpg');
  }

  #team-img-lana {
    background-image: url('/Users/Morgan/Desktop/unplugged/img/lana-walters.jpg');
  }

  #team-img-willow {
    background-image: url('/Users/Morgan/Desktop/unplugged/img/willow-white.jpg');
  }

/****CONCERTS PAGE*****/
.concert-details i {
  display: inline;
  padding: 10px;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
